

#changepassword-container{
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    gap: 0px;
    padding: 1rem;
    margin-top: 4%;
}
#id_new_password1,#id_new_password2{
    padding: 5px;
    width: 50%;
}

#changepassword-buttons{
    display: flex;
    /* border: solid 1px black; */
    justify-content: center;
    gap:100%;
    margin-top: 30px;
}

.changePassword-button{
    padding: 8px;
    font-size: 15px;
    border: none;
    background-color: #5271FF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}