
{% load static %}
<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="{%static 'css/about.css'%}">
</head>
<body>
        
    

    <div class="container">
        <div class="logoContainer">

            <div class="quiztion-logo">

                <h1 style="font-size: 100px; color: #5271FF;">Quiz</h1>

                <h1 style="color: #FF5757; font-size: 100px;">Tion</h1>

            </div>

            <img class="flashcard-img" src="{%static 'images/flashcard.png' %}">

            <ul>

                <li style="color: #FF5757;"><b>About us</b></li>

                <li>Contact us</li>

                <li>Customer Support</li>

            </ul>

        </div>

    

        <link rel="stylesheet" type="text/css" href="{%static 'css/login.css'%}">

    

        <div class="content-wrapper">

            <div class="content-left">

                <div class="left-box">

                    <img src="{% static 'images/teamss.png' %}" alt="Meet The Team!">

                </div>

                <div class="left-box">

                    <div class="rectangle-container">

                        <br/>

                        <p class="socialText"><b>Join us on our social media platforms</b></p>

                        <div class="social-icons">

                            <img src="{% static 'images/facebook.png' %}" alt="Facebook">

                            <img src="{% static 'images/twitter.png' %}" alt="Twitter">

                            <img src="{% static 'images/instagram.png' %}" alt="Instagram">

                        </div>

                    </div>

                </div>

            </div>

        <div class="content-right">

        <div class="right-box about-box">

            <div class="about-content">

            <p>Hello! Welcome to <span class="quiztion-text">QuizTion</span>, where knowledge meets fun! We're passionate about creating an engaging platform for users of all ages to challenge their minds, learn something new, and have a blast while doing it.</p>

        </div>

        </div>

        <div class="right-box contact-box">

            <h2>Contact Us</h2>

            <div class="contact-info">

                <p>If you have any questions, feedback, or simply want to say hello, don't hesitate to reach out to us.</p>

                <p class="email">Email: <a href="mailto:support@quiztion.com">support@quiztion.com</a></p>

    

                <p>Thank you for being a part of the QuizTion family. Let's embark on a journey of knowledge and fun together!</p>

                    </div>

                </div>

            </div>

        </div>

    </div>
</body>
</html>