{%extends 'base.html'%}

{%load static%}

{%block content%}
<link rel="stylesheet" type="text/css" href="{%static 'css/editProfile.css/' %}">

<div id="editProfileContainer">
    <!-- <img src="{{photo.image.url}}" id="avatar"/> -->

        
        <form id="edit-form" method="post" action="{% url 'editProfile' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="display: flex;flex-direction: column;justify-content: center;">
                {% if photo %}
                    <img id="avatar" src="{{photo.image.url}}"/>
                {% else %}
                    <img id="avatar" src="{%static 'images/noProfile.jpg'%}"/>
                {% endif %}
                <h4 style="margin-left: 30%;">Avatar</h4>
                {{ photo_form.image}}
            </div>
            <div style="display: flex; flex-direction: column; gap: 0px;">
                <h4>Username</h4>
                {{ form.username }}
                <input type="hidden" name="username" value="{{ form.username.value }}">
                <h4>Email Address</h4>
                {{ form.email }}
                <h4>First Name</h4>
                {{ form.first_name }}
                <h4>Last Name</h4>
                {{ form.last_name }}
                
                <br>
                <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                    <a style="color: white;" id="back-btn" href="{% url 'dashboard' %}">Back</a>
                    <button type="submit" id="save-btn">Save</button>
                </div>
            </div>
            
        </form>

</div>

{%endblock content%}