
{%load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
    <title>Quiztion</title>
    <script>
      document.addEventListener("DOMContentLoaded",function(){
        const isPremium = "{{request.session.isPremium}}"
        console.log(window.location)
        if(window.location.pathname == "/dashboard/"){
          document.getElementById("dashboard-base").style.borderBottom = "solid 3px #5271FF";
        }else if(window.location.pathname.includes("premiumupgrade")){
          document.getElementById("upgrade-base").style.borderBottom = "solid 3px #5271FF";
        }else if(window.location.pathname.includes("import")){
          document.getElementById("import-base").style.borderBottom = "solid 3px #5271FF";
        }
        if(isPremium){
          document.getElementById("prem-acc").style.color = "tomato"
          document.getElementById("prem-acc").style.cursor = "default"
          document.getElementById("upgrade-base").style.cursor = "auto"
          document.getElementById("upgrade-base").addEventListener("click",function(event){
            event.preventDefault();
          })
        }
      })
    </script>
  </head>
  <body>
  	<main>
		<div id="navigation-base">
        <div id="quiztion-base"><h1 style="color: #5271FF;">Quiz</h1><h1 style="color: #FF5757;">Tion</h1><img id="quiztionlogo-base" src="{%static 'images/flashcard.png' %}"></div>
        <div id="logout-base">
          <a id="dashboard-base" href="{%url 'dashboard'%}">Dashboard</a>
          <a id="import-base" href="{%url 'importSet'%}" >Import Flashcard Set</a>
          <a id="upgrade-base" href="{%url 'premiumupgrade' user_id=request.session.id%}">{%if request.session.isPremium == "true"%}<p id="prem-acc">Premium Account</p> {%else%}Upgrade to Premium{%endif%}</a>
          <a href="{%url 'logout' %}" >Logout</a>
        </div>
    </div>
        {%block content%} 
	      {%endblock content%}
  	</main>
	
  </body>
</html>